.color-1 {
    color: cyan; /* CSS Colors - W3Schools (сайт с цветами)*/
}

/* RGB(RedGreenBlue) min:00 -> max:ff */
.color-2 {
    /* color: #4B0082; /* Indigo */
    color: #0000ff; /* сокращённая запись: #00f */
}

.color-3 {
    color: #aaa; /* серый */
}

/* при помощи ф-ии: rgb(), исп-я числа: 0-255 */
.color-4 {
    color: rgb(0, 255, 0); /* зелёный */
}

/* rgba(), a - alpha(прозрачность) -> 0-1(м-но дробные знаяения) */
.color-5 {
    color: rgba(255, 0, 255, 0.5); /* a=1 -> непрозрачный; a=0 -> прозрачный */
} 

/* Вариант использования: rgb + a */
.color-6 {
    color: rgb(0, 0, 0); /* чёрный */
    opacity: 0.5; /* a(alpha) - непрозрачность */
}