/* переопределяем св-ва ссылок */
a {
    color: #333; /* цвет ссылки */ 
    text-decoration: none; /* убрать нижнее подчёркивание */
    /* transition: all .2s; /* плавная анимация */
}

/* псевдоселектор */
a:hover { /*hover(для любых эл-в) -> наведение курсора на элемент*/
    color: orange; 
    /* при наведении курсора, ссылка -> оранжевая */
    /* font-size: 2rem; /* rem -> начальный размер */
    /* при наведении курсора, ссылка -> увеличивается в 2 раза */
}

/* псевдоселектор */
a:visited { /* visited(только для ссылок) */
    /* color: red; */
    /* ссылка станов-ся красной если по ней уже переходили */
} 

/* псевдоселектор */
a:active {
    color: blue;
    /* ссылка становится синей при удержании нажатой */
}

.css:hover {
    /* background: red; */
    /* при наведении курсора блок становится красным */
}

/* кнопка */
.btn {
    background: #111; /* цвет кнопки */
    padding: 15px 20px; /* меняем размер кнопки */
    color: #fff; /* цвет текста в кнопке */
    border: none; /* убрали границу вокруг кнопки */
    cursor: pointer; /* курсор меняется при наведении на кнопку */
    border-radius: 5px; /* округление кнопки */
    font-family: inherit; /* наследовать наши шрифты заданные на странице */
}

.btn:hover {
    opacity: .8; /* при наведении курсора кнопка реагирует "затуманиванием" */
    color: orange; /* при наведении курсора меняется цвет текста кнопки */
}