
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto+Mono&family=Source+Sans+Pro&display=swap');
.container {  
    max-width: 800px; /* ширина (max - для адаптации) */
    margin: auto; /* авто поля блока */
    
    font-family: 'Roboto Mono', 'Arial', 'Helvetica', sans-serif;
    /* задали шрифт (тип), со страхующими типами */
    font-size: 21px;
    /* размер шрифта */
    font-weight: 400;
    /* выделение шрифта: 400=normal */
    letter-spacing: 1px;
    /* расстояние м-у символами */
}

.card {
    border: 2px solid #dac7b2; 
    /* рамка(граница): тощина, сплошная, цвет */
    border-radius: 8px;
    /* скругление углов границы */
    background: #fff4e8;
    /* заливка блока цветом */

    margin: 1px;
    /* внений отступ блоков */
    padding: 10px;
    /* отступ данных блока со всех сторон */
}

.foto {
    border: 4px solid #dac7b2; 
    /* рамка(граница): тощина, сплошная, цвет */
    border-radius: 10px;
    /* скругление углов границы */

    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.25);
    /* тень от фото */
}

/* Заголовки */
h1 {
    color: #6b4311; /* Степан Зюбин */
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* тип шрифта + резервные типы */
    color: #603702; /* Мои увлечения, Опыт работы */
}
h4 {
    color: #643b08; /* Соц.сети, Связаться со мной */
}

.line {
    margin: 4px 10px;
    /* внешние отступы: top & bottom / right & left */
    border: 1px dashed black; 
    /* рамка(граница): тощина, сплошная, цвет */
}

 /* таблица */
table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 3px solid #51504f;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    border-radius: 15px;
}
 th, td {
    border: 2px solid #726e69;
    /* границы для всей таблицы */
    padding: 14px 15px;
    /* высота рядов таблицы */
 } 
thead tr {
    color: #2c2927;
}
tbody tr {
    font-style: oblique;
    /* наклонный шрифт (не курсив) */
    color: #413f3d;
}
