
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto+Mono&family=Source+Sans+Pro&display=swap');
body {   
    font-family: 'Roboto Mono', 'Arial', 'Helvetica', sans-serif;
    /* задали шрифт (тип), со страхующими типами */
    font-size: 21px;
    /* размер шрифта */
    font-weight: 400;
    /* выделение шрифта: 400=normal */
    letter-spacing: 1px;
    /* word-spacing: 4px; */
    /* background: #fff4e8;  */
    /* цвет фона (взят с понравившегося резюме) */
}

.card {
    border-top: 2px solid #dac7b2; 
    border-left: 2px solid #dac7b2; 
    border-bottom: 2px solid #dac7b2;
    /* рамка(граница): тощина, сплошная, цвет */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* скругление углов границы */
    background: #fff4e8;
    /* заливка блока цветом */
    padding-left: 10px;
    /* отступ данных блока от левого края границы */
    padding-top: 10px;
    /* отступ данных блока от верхнего края границы */
    padding-bottom: 10px;
}

/* Заголовки */
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* тип шрифта + резервные типы */
    color: #603702; /* Мои увлечения, Опыт работы */
}
h1 {
    color: #6b4311; /* Степан Зюбин */
}
h4 {
    color: #643b08; /* Соц.сети, Связаться со мной */
}


 /* таблица */
table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 3px solid #51504f;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
    width: 600px;
    /* ширина таблицы */
}
 th, td {
    border: 2px solid #726e69;
    /* границы для всей таблицы */
    padding: 14px 15px;
    /* высота рядов таблицы */
 } 
thead tr {
    color: #2c2927;
}
tbody tr {
    font-style: oblique;
    color: #413f3d;
}

